= render 'navigation'
.main_content
  .step_content
    .step_content__background.background_for_text
      = image_tag @background.image_url(:big),{class: 'js_big_background'}
      .step_content__background__text.js_aphorism_text
    .step_content__body
      .step_content__body__title
        Добавьте афоризм
      .step_content__body__input
        %textarea{ cols: 60, rows: 10, id: 'aphorism_input' }
      .step_content__body__text
        Текст-подсказка: lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .step_content__body__actions
        = link_to 'ОПУБЛИКУЙТЕ АФОРИЗМ >', '#', {class: 'red_button_link js_make_aphorism', data: {bkg: params[:background]}}
  .clearfix
  .aphorisms_title
    Лучшие афоризмы
  .backgrounds_list
    - @aphorisms.each_with_index do |background, i|
      .background_image{data: { img: background.image_url(:thumb) }}
        = image_tag background.image_url(:thumb)

:javascript
  $('#aphorism_input').on('keydown', function(e) {
    if ($('#aphorism_input').val().length > 270){
      e.preventDefault();
    }
    $('.js_aphorism_text').text($('#aphorism_input').val());
  });
