.navigation
  .navigation_content
    .first_step.active_step
      .step_number
        01
      .step_title
        ВЫБЕРИТЕ ФОН
      .step_narrow
        >
    .second_step
      .step_number
        02
      .step_title
        ДОБАВТЕ АФОРИЗМ
      .step_narrow
        >
    .third_step
      .step_number
        03
      .step_title
        ОПУБЛИКУЙТЕ АФОРИЗМ
