= render 'navigation'
.main_content
  .step_content
    .step_content__background
      = image_tag @backgrounds.first.image_url(:big),{class: 'js_big_background'}
    .step_content__body
      .step_content__body__title
        Выберите дизайн фона
      .step_content__body__text
        Текст-подсказка: lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .step_content__body__actions
        = link_to 'ДОБАВИТЬ АФОРИЗМ >', '#', {class: 'red_button_link'}
  .clearfix
  .backgrounds_list
    - @backgrounds.each_with_index do |background, i|
      - klass = (i == 0 ? 'selected_background' : '')
      .background_image.js_background{data: { img: background.image_url(:big) }, class: klass}
        = image_tag background.image_url(:thumb)
