.step_content{
  margin-top: 45px;
  height: 410px;
}
.step_content__background{
  float: left;
  width: 530px;
}
.step_content__body{
  float: right;
  width: 470px;
}
.step_content__body__title,
.aphorisms_title{
  color:  #7296a6;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.step_content__body__text{
  font-family: Tahoma;
  color:  #434343;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}
.step_content__body__actions{
  .red_button_link{
    display: inline-block;
    float: left;
  }
}
.backgrounds_list{
  text-align: center;
  .background_image{
    cursor: pointer;
    text-align: center;
    width: 19.5%;
    display: inline-block;
    &:hover{
      opacity: 0.8;
    }
  }
  .selected_background{
    opacity: 0.5;
    &:hover{
      opacity: 0.5;
    }
  }
}
.error_notification{
  color: red;
}

/*--------------step_two---------------*/
.step_content__body__input{
  margin-bottom: 15px;
}
.background_for_text{
  position: relative;
}
.step_content__background__text{
  position: absolute;
  top: 50px;
  left: 13px;
  width: 500px;
  word-wrap: break-word;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#login_button{
  table{
    width: initial;
    td:last-child{
      display: none;
    }
  }
}


/*-----------------------rating --------------------------*/
.rating_item{
  padding: 15px 0;
  border-bottom: 1px solid #d8d8d8;
}
.header_rating_item{
  .rating_item__name,
  .rating_item__aphorism,
  .rating_item__rate{
    color:  #7d7d7d;
    font-size: 14px;
    font-weight: normal;
  }
}
.rating_item__name{
  float: left;
  color:  #222222;
  font-size: 18px;
  width: 330px;
}
.rating_top{
  font-weight: bold;
}
.rating_item__aphorism{
  float: left;
  width: 175px;
}
.rating_item__rate{
  float: left;
  color:  #222222;
  font-size: 18px;
  font-weight: 700;
  width: 98px;
  text-align: center;
}
.rating_pagination{
  float: left;
}
/*-----------------------end rating --------------------------*/
